<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="netflix-dark">
      <ion-title>
        <img class="logo-header" src="../../assets/netflix-logo.png" />
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="tv-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <img class="img-intro" src="../../assets/dracula-netflix.png" alt="" />
  <ion-button (click)="openMovie()" expand="full" color="netflix-dark"
    >Regarder maintenant</ion-button
  >

  <p class="box-title">Ma Liste</p>

  <div class="scroll-box">
    <div class="movie">
      <img src="../../assets/picture.jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (2).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (3).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (4).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (5).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (6).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (7).jpg">
    </div>
  </div>
  <br>
  <p class="box-title">Sélectionné pour vous</p>
  <div class="scroll-box">
    <div class="movie">
      <img src="../../assets/picture (8).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (9).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (10).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (11).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (12).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (13).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (14).jpg">
    </div>
  </div>
  <br>

  <p class="box-title">Les plus gros succès de Netflix</p>
  <div class="scroll-box">
    <div class="movie">
      <img src="../../assets/picture (14).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (15).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (16).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (17).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (18).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (19).jpg">
    </div>
    <div class="movie">
      <img src="../../assets/picture (20).jpg">
    </div>
  </div>
  <br>
</ion-content>
